name: docker-pipeline-dlc
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # راه اندازی Buildx برای پشتیبانی از قابلیت های پیشرفته کش
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # ساخت تصویر با مدیریت کش
      - name: Build and Load Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          load: true # تصویر را در محیط لوکال بارگذاری می‌کند تا قابل اجرا باشد
          tags: django-ci-cd:latest
          cache-from: type=gha # فراخوانی کش از حافظه GitHub Actions
          cache-to: type=gha,mode=max # ذخیره لایه‌ها در حافظه GitHub برای اجرای بعدی

      - name: Run tests inside container
        run: docker run --rm django-ci-cd:latest pytest